<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="school" class="fx.leyu.spring.domain.School">
        <property name="teacher" ref="teacher" />
    </bean>
    <bean id="teacher" class="fx.leyu.spring.domain.Teacher">
        <property name="school" ref="school" />
    </bean>
</beans>