<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fx.leyu.jdata.domain.mapper.ActionMapper">

	<insert id="insertAction" parameterType="fx.leyu.jdata.domain.Action">
		insert into action(user_id, sku_id, time, model_id, type,cate, brand)
		values (#{userId},#{productId},#{time},#{modelId},#{type}, #{cate}, #{brand})
	</insert>
</mapper>